<form class="form-signin" action="https://foresignal.com/en/login/login" method="post">

		<label for="user_name" class="sr-only">Email address</label>
	<input class="form-control" type="text" name="user_name" id="user_name" placeholder="Username or email" required
	       autofocus>
	<label for="user_password" class="sr-only">Password</label>
	<input class="form-control" type="password" name="user_password" id="user_password" placeholder="Password" required>

	<div class="checkbox">
		<label>
			<input type="checkbox" name="set_remember_me_cookie"> Remember me for 2 weeks		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	<div class="">
		<a href="https://foresignal.com/en/login/requestPasswordReset">I forgot my password</a>
	</div>
	<div class="registraion-link">
		Not registered?		<a class="btn btn-lg btn-primary btn-block" role="button" style="text-decoration:none;"
		   href="https://foresignal.com/en/login/register">Register now.</a>
	</div>
	<input type="hidden" name="continue" value=""/>
	<input type="hidden" name="hash" value=""/>
</form>
</div>
